
.body.hidden{
    overflow: hidden;
}
.header1, .category, .container-slide,.container-logo,
.header, .header-logo, .slider, .article1, .article2,
.article3, .footer-block_position1,.footer-block_position2{
    display:none;
}
.banner_mob{
    grid-column: 1/-1;
    display: block;
    margin: 0 auto;
}
.wraper-header{
    background-color:var(--color-background);

}
.inline-icon{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
}

.header-mobile{
    display:flex;
    background-color: var(--color-background);
    justify-content: space-around;
}


.mobile__link{
    display: flex;
    color:var(--text-color);
    text-decoration: none;
    align-items: center;
    font-size: 16px;
}
.header-logo__first-row_color{
    color:var(--text-color);
}
.mobile__img{
    width: 90px;
    height: 60px;
    fill: var(--text-color);
    padding-right: 5px;
    margin-left: 10px;
}
.mobile__image{
    font-size: 30px;
    color:var(--text-color);
}

.button-mob{
    background-color: var(--color-header);
    border: 0;
    min-height: 22px;
    width: 32px;
}
.nav-wraper{
    display: none;
}


.nav__ul{
    display: block;
    background-color: #f4f4f4;
    padding:0;
    margin: 0;
}
.nav__item{
    border-bottom: 1px solid var(--border-color);

}
.nav__link{
    color:#000000;

}
.nav-wraper.show{
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    z-index: 1;

}
.main{
    grid-column: 1/-1;
   margin:0 15px;

}
.footer__img{
    width: 120px;
    height: 70px;
    padding-right:5px;
    margin-left: 15px;
}
.foter__site-name{
    font-size: 13px;
}
.footer-block_position3 {
    grid-column: 6/12;
}
