@font-face{
    font-family: "MyRoboto";
    src: url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff2") format('woff2'),
    url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff") format('woff'),
    url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: "MyRoboto";
    src: url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-700.woff2") format('woff2'),
    url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-700.woff") format('woff'),
    url("../fonts/roboto-v19-latin_cyrillic_latin-ext_cyrillic-ext-700.ttf") format('truetype');
    font-weight: bold;
}

html {
    height: 100%;
    box-sizing: border-box;
    --header-text-color:#59375e;
    --border-color:#c3c3c3;
    --color-background:#8d4aa9;
    --background-sidebar:#602925;
    --article-sale:#0bb82f;
    --text-color:#ffffff;
    --name-color:#666666;
    --color-discont:#ff1800;

}
*, *::before, *::after{
    box-sizing: inherit;
}

.container{
    max-width: 1240px;
    margin: 0 auto;

}
.inline-icon{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
}
.banner_mob{
    display: none;
}
/*first row header*/
.header-mobile{
    display:none;
}
.wraper-header{
    background-color:#f4f4f4;
}
.header{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.header__item{
    border-right: 1px solid #cecece;
    padding: 5px 22px;
    margin:10px 0;
}
.header__link{
    text-decoration: none;
    font-family:MyRoboto;
    font-size:14px;
    font-weight: bold;
    color: var(--header-text-color);
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 120px;
}
.social__img{
    fill: var(--header-text-color);
    font-size: 25px;
}

/*second row header*/

.header-logo{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin:30px 0;
}
.header-logo__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header-logo__img{
    width: 120px;
    height: 70px;
    fill: var(--header-text-color);
}
.header-logo__site-name{
    width: 130px;
    font-family: MyRoboto;
    font-size: 14px;
    margin-left: 5px;

    color:var(--border-color);
}
.header-logo__first-row{
    font-family: MyRoboto;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color:var(--header-text-color);
}
.header-div__link{
    text-decoration: none;
    font-family: MyRoboto;
    font-size: 16px;
    color:var(--header-text-color);
}
.tel-img, .mail-img {
    margin-right: 5px;
    fill:var(--color-background);
}
.mail-img{
    margin-left: 20px;
    font-size: 18px;
}
.search{
    position: relative;
    width: 610px;
    margin-top: 5px;

}
.search__input{
    width: 100%;
    height: 45px;
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--header-text-color);
}
.search__button{
    position: absolute;
    top: 0;
    right: 0px;
    width: 85px;
    height: 45px;
    background: #f4f4f4;
    border: 1px solid var(--border-color);
    cursor: pointer;
}
.search__img{
    font-size: 25px;
    color: var(--header-text-color);
}

.price{
    border: 1px solid var(--border-color);
    max-height: 125px;
    display: flex;
}
.price__output{
    font-family: MyRoboto;
    font-size: 20px;
    color: var(--header-text-color);
    margin:0 auto;

}
.price_image{
    height:40px;
    width:30px;
    fill: var(--header-text-color);
}
.price__output{
   padding: 25px;

}
.price__anchor{
    padding:7px 20px;
    margin: 13px 0;
    border-left: 1px solid var(--border-color);
    position: relative;
}
.price__anchor::after {
    content: attr(data-count);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 22px;
    height: 22px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 18px;
}
/*navigation*/


.nav-wraper{

    background-color:var(--color-background);
}
.nav{
    max-width: 1240px;
    margin:0 auto;
}
.nav__ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav__item {
    margin: 15px 0;
    flex-grow: 1;
    text-align: center;
    padding: 5px 0;
}
.nav__item:not(:last-child){
    border-right: 1px solid var(--text-color);
}
.nav__link{
    text-decoration: none;
    color:var(--text-color);
    font-family: MyRoboto;
    font-weight: bold;
    font-size:18px;
}
/*main*/
.contain{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 25px;
    margin-top: 25px;
}
.category{
    order:-1;
}
.main{
    grid-column: 4/-1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 25px;
}
.container-slide{
    background-color: #c3c3c3;
    height: 305px;
    grid-column: 1/-1;
}
.slider{
    background-color: white;
    margin: 0px 30px;
}
/*article*/
.article{
    border:1px solid var(--border-color);
    padding: 10px;
    font-family: MyRoboto;
}

.article__link{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-decoration: none;
}
.article__img{
    font-size: 20px;
    margin-right: 5px;
}
.article__head{
    padding: 0;
    margin: 0;
}
.article__text{
    font-family: Verdana;
    font-size: 14px;
    color:var(--border-color);
    margin: 0px;
    margin-top: 10px;
}
.article_link-color1{
    color:var(--color-background);
}
.article_link-color2{
    color:var(--color-discont);
}
.article_link-color3{
    color:var(--article-sale);
}
.article_place1{
    grid-column: 1/4;
}
.article_place2{
    grid-column: 4/7;
}
.article_place3{
    grid-column: 7/-1;
}
/*products*/
.news{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 205px);
    grid-gap: 29px;

}
.news__headline{
   border-bottom: 1px solid var(--border-color);
   padding: 10px;
   color:var(--name-color);
    font-family: Verdana;
    font-size: 22px;
}

.products-discount{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 205px);
    grid-gap: 29px;

}
.products-discount__hedline:after{
    content: "";
    display: inline-block;
    background-color: black;
    height: 1px;
    flex-grow: 1;
    margin-left: 10px;
}
.news__headline{
    grid-column: 1/-1;
}

.products-discount__hedline{
    grid-column: 1/-1;
}
.products{
    border:1px solid var(--border-color);
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    font-family: Verdana;
}
.products__sale{
    color:var(--text-color);
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    font-size: 12px;
    top:4px;
    left: 4px;
}
.products__sale_new{
    background-color:var(--article-sale);
}
.products__sale_percent{
    background-color:var(--color-discont);
}
.products__name{
    color: var(--name-color);
    font-size: 18px;
}
.products__img{
    margin: 67px 12px 45px;
}
.products__discription{
    margin-top: 20px;
    font-size: 18px;
    color: var(--color-background);
}
.products__discription_sale::after{
    content: '42 700р';
    font-size:12px;
    position: absolute;
    bottom: 77px;
    right: 10px;
    color:var(--border-color);
    text-decoration: line-through;
}

.products__add{
    margin: 13px 0;
    padding: 13px 15px 13px;
    background-color: var(--color-background);
    border: 0;
    color: var(--text-color);
}
/*Slider*/
.container-slide{
    display: block;
}
.slider{
    height: 100%;
    max-width: 862px;
    display: block;
}
.slider__item{
    display: block;
}
.slider__img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}

.slider__head{
    font-family: Verdana;
    font-size: 40px;
    color:var(--border-color);
}
.slider__rows2{
    font-family: Verdana;
    font-size: 18px;
    color:var(--color-background);
}
.slider__text-content{
    font-family: Verdana;
    font-size: 14px;
}
.slider__button{
    background-color: white;
    border: 1px solid var(--color-background);
    color: #ff824a;
    font-family: MyRoboto;
    font-size: 20px;
    padding: 18px 26px 18px 13px;
}
/*Sidebar*/
.category{
    grid-column: 1/4;
    padding: 0;
    margin: 0;
}
.ul__category{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.category__headline{
    background-color:var(--background-sidebar);
    color:var(--text-color);
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}


.category__head{
    padding-left: 38px;
    font-family: Verdana;
    font-size: 20px;

}
.category__item{
    border:1px solid var(--border-color);
    height: 58px;
    vertical-align: center;
    background-color: var(--bg-sidebar-items);
    padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.category__link{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 38px;
    text-decoration: none;
    color: var(--background-sidebar);
    font-family: MyRoboto;
    font-size: 16px;
    font-weight:bold;
}

.category__img{
    fill: var(--background-sidebar);
    font-size: 20px;
    margin-right: 5px;
}
.banner {
    width: 100%;
    margin-top: 20px;
}

/*footer*/
.footer{
    background-color:var(--name-color);
    color:var(--text-color);
}
.cont-footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 25px;
}
.footer__link{
    grid-column: 1/4;
    display: flex;
    color:var(--text-color);
    text-decoration: none;
    align-items: center;
}
.header-logo__first-row_color{
    color:var(--text-color);
}
.footer__img{
    width: 120px;
    height: 70px;
    fill: var(--text-color);
    padding-right: 5px;
}
.footer-block{
    margin-top:25px;
    font-family: MyRoboto;
    font-size: 18px;
}
.footer-block_position2{
    grid-column: 6/8;
}
.footer-block_position3{
    grid-column: 9/12;
}
.footer__ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 0;

}
.footer-div__item{
    margin-top:5px;
}
.footer-div__link{
    text-decoration: none;
    color:var(--text-color);

}
.address{
    font-size: 15px;
}

.copyright{
    background-color: #000000;
    text-align: center;
    padding-top: 0;
    color: var(--text-color);

}
.copyright__paragraph{
    margin: 0;
    padding: 10px 0;
}
.footer-div{
    border-bottom: 1px solid var(--text-color);
}